.body-wrapper {
    background-color: #cfcfcf;
}

page[size="A4"] {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 11pt;
}
.header{
    margin-top: 5%;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 19.5pt;
}
.contact-info {
    text-align: center;
    font-size: 12pt;
}
.contact-info i{
    margin-right: 5px;
    margin-left: 15px;
}
.header a{
    color: inherit;
    text-decoration: inherit;
}

.content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.title {
    margin-top: 5%;
    font-weight: bold;
    font-family: arial;
}
.title hr{
    border: 1px solid;
}
.h4{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: -20px;
}
.level i {
    font-size: 10px;
}
.level {
    margin-left: 10%;
    display: inline-block;
}
.note {
    font-size: 11pt;
    font-style: italic;
    line-height: 1.2;
    display: inline-block;
}
.important {
    font-weight: bold;
}
.list {
    font-family: arial;
    font-size: 11pt;
    margin-top: -1%;
}

.hyperlink{
    color: black;
}

.hyperlink:hover{
    color: lightcoral;
}